

<h2>{{title}}</h2>

<form class="fieldset">

  <h3>Har dere tilbud ved problemstilliger knyttet til:</h3>
  <div class="listOfCheckbox">
    <input type="checkbox" name="arm"> Arm-/håndfunksjon
    <input type="checkbox" name="spastisitet"> Spastisitet
    <input type="checkbox" name="pain"> Smerte
    <input type="checkbox" name="fatigue"> Fatigue
    <input type="checkbox" name="blather"> Blærefunksjonen
    <input type="checkbox" name="intestine"> Tarmfunksjon
    <input type="checkbox" name="depression"> Depresjon/angst
    <input type="checkbox" name="kognitiv"> Kognitiv funksjon
    <input type="checkbox" name="sleep"> Søvn
    <input type="checkbox" name="speach"> Tale/språk/svelg
    <input type="checkbox" name="lungs"> Lungefunksjon
    <input type="checkbox" name="sexual"> Seksualfunksjon
  </div>
</form>
