<div class="outerContainer">
  <h2>{{title}}</h2>

  <form class="fieldset">
    <h3>Kryss av i boksene på listen under for de punktene der dere har et tilbud</h3>

    <h3>Skole/utdanning/arbeidsrettet rehabilitering</h3>
    <input type="radio" name="education" > Ja
    <input type="radio" name="education" > Nei

    <h3>Daglige funksjoner</h3>
    <ul>
      <li>Vurdering av hjelpemidler</li>
      <li>Vurdering av daglige aktiviteter</li>
      <li>Samhandling med primærhelsetjenesten</li>
    </ul>

    <input type="radio" name="dailyFunctions" > Ja
    <input type="radio" name="dailyFunctions" > Nei

    <h3>Livsstil</h3>
    <ul>
      <li>Utforskning av muligheter for nye former for fysisk aktivitet</li>
      <li>Kost/ernæringsveiledning</li>
      <li>Stressmestring / "Å leve med MS"</li>
      <li>Røykeslutt</li>
    </ul>

    <input type="radio" name="lifeStyle" > Ja
    <input type="radio" name="lifeStyle" > Nei
  </form>
</div>
