<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">


<h1>Kartlegging av rehabiliteringstilbud i spesialisthelsetjenesten for personer med multippel sklerose (MS)</h1>

<form #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)">

  <div class="outerContainer">
    <div class="innerContainer">
      <h2>Informasjon om dere</h2>
      <p class="question">Navn på institusjon/rehabiliteringsavdeling</p>
      <input placeholder="Svar" ngModel type="text" id="_id" name="_id">
      <p class="question">Nettadresse</p>
      <input placeholder="Svar" ngModel type="text" id="website" name="website">
      <p class="question">Telefonnummer</p>
      <input placeholder="Svar" ngModel type="number" id="phone" name="phone">
    </div>
  </div>


  <div class="outerContainer">
    <div class="innerContainer">
      <h2>Generelt om tilbud og innhold</h2>

      <p class="question">For private institusjoner: Hvilke(n) helseregion(er) er det gjort avtale med?</p>
      <div class="checkBoxes">
        <div><input ngModel type="checkbox" name="agreementNorth"> {{regions[0]}}</div>
        <div><input ngModel type="checkbox" name="agreementMid"> {{regions[1]}}</div>
        <div><input ngModel type="checkbox" name="agreementWest"> {{regions[2]}}</div>
        <div><input ngModel type="checkbox" name="agreementSouthEast"> {{regions[3]}}</div>
      </div>

      <p class="question">Hvilke(n) annen/andre region(er) får dere pasienter fra?</p>
      <div><input ngModel type="checkbox" name="patientFromNorth"> {{regions[0]}}</div>
      <div><input ngModel type="checkbox" name="patientFromMid"> {{regions[1]}}</div>
      <div><input ngModel type="checkbox" name="patientFromWest"> {{regions[2]}}</div>
      <div><input ngModel type="checkbox" name="patientFromSouthEast"> {{regions[3]}}</div>

      <div *ngFor="let issue of listOfIssues">

        <p class="question">{{issue.name}}</p>
        <input type="radio" ngModel="{{issue.id}}" value="true" name="{{issue.id}}"> Ja
        <input type="radio" ngModel="{{issue.id}}" value="false" name="{{issue.id}}"> Nei

      </div>

      <p class="question">Vanlig varighet for opphold?</p>
      <input placeholder="Svar" ngModel type="number" name="duration">

    </div>
  </div>

  <div class="outerContainer">
    <div class="innerContainer">

      <h2>Tilbud til personer med MS</h2>

      <p class="question">Inntak gruppevis for personer med MS?</p>
      <input type="radio" ngModel="group" value="true" name="group"> Ja
      <input type="radio" ngModel="group" value="false" name="group"> Nei

      <p class="question">Type opphold</p>
      <div *ngFor="let type of listOfType">
        <input placeholder="Svar" ngModel type="checkbox" id="{{type.id}}" name="{{type.id}}"> {{type.name}}
      </div>

      <p class="question">Forventet ventetid til dag/poliklinikk? (i uker)</p>
      <input placeholder="Svar" ngModel type="number" id="ventetidDag" name="waiting">

      <p class="question">Forventet ventetid til innleggelse? (i uker)</p>
      <input placeholder="Svar" ngModel type="number" id="ventetidInnleggelse" name="waiting">

      <p class="question">Faggruppene/profesjonene som er tilknyttet MS-rehabiliteringen</p>
      <div *ngFor="let profession of listOfProfessions">
        <input ngModel type="checkbox" [checked]="true" id="{{profession.id}}" name="{{profession.id}}" value=false>
        {{profession.name}}
      </div>

    </div>
  </div>

  <div class="outerContainer">
    <div class="innerContainer">
      <h2>Tilbud ved problemstillinger knyttet til:</h2>

      <div *ngFor="let issues of listOfIssues2">
        <input ngModel type="checkbox" id="{{issues.id}}" name="{{issues.id}}"> {{issues.name}}
      </div>

      <p class="question">Generelle kommentarer/merknader/tilleggs-opplysninger?</p>
      <textarea placeholder="Svar" ngModel name="extra" id="extra"></textarea>
      <br>
      <button type="submit" name="submit" id="submit">Send inn</button>
    </div>
  </div>
</form>
