
<h2>{{title}}</h2>

<form class="fieldset">

  <h3>Inntak gruppevis for personer med MS?</h3>
  <input type="radio" name="group" > Ja
  <input type="radio" name="group" > Nei

  <br>

  <h3>Type opphold</h3>
  <input type="checkbox" name="information"> Informasjon
  <input type="checkbox" name="judge"> Vurdering
  <input type="checkbox" name="fastLoss"> Rehabilitering etter raskt funksjonstap
  <br>
  <input type="checkbox" name="slowLoss"> Rehabilitering etter gradvis funksjonstap
  <input type="checkbox" name="adult"> Egne tilbud til voksne pårørende
  <input type="checkbox" name="child"> Egne tilbud til barn som pårørende

  <br>

  <h3>Antall heldøgnsplasser</h3>
  <input type="number" name="24hour">
  <br>
  <h3>Antall heldøgnsplasser som er tiltenkt MS</h3>
  <input type="number" name="24hourMS">
  <br>
  <h3>Antall dagplasser</h3>
  <input type="number" name="12hour">
  <br>
  <h3>Antall dagplasser som er tiltenkt MS</h3>
  <input type="number" name="12hourMS">
  <br>
  <h3>Vanlig ventetid for MS-rehabilitering (i uker)</h3>
  <input type="number" name="waiting">
  <br>
  <h3>Faggruppene/profesjonene som er tilknyttet MS-rehabiliteringen</h3>
  <input type="checkbox" name="doctor"> Lege
  <input type="checkbox" name="nurse"> Sykepleier
  <input type="checkbox" name="helping"> Hjelpepleier/helsefagarbeider
  <input type="checkbox" name="psychologist"> Klinisk psykolog
  <input type="checkbox" name="neuropsychologist"> Nevropsykolog
  <input type="checkbox" name="socialWorker"> Sosionom
  <input type="checkbox" name="occupationalTherapist"> Ergoterapeut
  <input type="checkbox" name="physicalTherapist"> Fysioterapeut
  <input type="checkbox" name="nutritionist"> Ernæringsfysiolog
  <input type="checkbox" name="urotherapist"> Uroterapeut
  <input type="checkbox" name="speechTherapist"> Logoped
  <input type="checkbox" name="sportsEducator"> Idrettspedagog/idrettsfysiolog el. lignende
  <br>
  <button type="submit" name="submit">Submit</button>
</form>
