
<div class="outerContainer">

  <h2>{{title}}</h2>

  <form #signupForm="ngForm" (ngSubmit) = "registerUser(signupForm)">

    <h3>Inntak gruppevis for personer med MS?</h3>
    <input type="radio" id="group" name="group" > Ja
    <input type="radio" id="group" name="group" > Nei

    <h3>Type opphold</h3>
    <div *ngFor="let box of type">
      <input ngModel type="checkbox" id="{{box}}" name="{{box}}"> {{box}}
    </div>

    <h3>Antall heldøgnsplasser</h3>
    <input ngModel="form.title" type="number" id="24hour" name="24hour">

    <h3>Antall heldøgnsplasser som er tiltenkt MS</h3>
    <input type="number" id="24hourMS" name="24hourMS">

    <h3>Antall dagplasser</h3>
    <input type="number" id="12hour" name="12hour">

    <h3>Antall dagplasser som er tiltenkt MS</h3>
    <input type="number" id="12hourMS" name="12hourMS">

    <h3>Vanlig ventetid for MS-rehabilitering (i uker)</h3>
    <input type="number" id="waiting" name="waiting">

    <h3>Faggruppene/profesjonene som er tilknyttet MS-rehabiliteringen</h3>
    <div *ngFor="let box of profesion">
      <input ngModel type="checkbox" id="{{box}}" name="{{box}}"> {{box}}
    </div>

      <button type="submit" name="submit">Submit</button>
  </form>
</div>

