<div class="outerContainer">
  <h2>{{title}}</h2>
  <form class="fieldset">

    <h3>Helseregion</h3>
    <h4>Hvilke(n) helseregion(er) er et gjort avtale med?</h4>
    <div class="checkBoxes">
      <div><input type="checkbox" name="agreementNorth"> {{regions[0]}}</div>
      <div><input type="checkbox" name="agreementMid"> {{regions[1]}}</div>
      <div><input type="checkbox" name="agreementWest"> {{regions[2]}}</div>
      <div><input type="checkbox" name="agreementSouthEast"> {{regions[3]}}</div>
    </div>

    <h4>Hvilke(n) annen/andre region(er) får dere pasienter fra?</h4>
    <div><input type="checkbox" name="patientFromNorth"> {{regions[0]}}</div>
    <div><input type="checkbox" name="patientFromMid"> {{regions[1]}}</div>
    <div> <input type="checkbox" name="patientFromWest"> {{regions[2]}}</div>
    <div><input type="checkbox" name="patientFromSouthEast"> {{regions[3]}}</div>


    <h3>Individuell rehabilitering?</h3>
    <input type="radio" name="individual" > Ja
    <input type="radio" name="individual" > Nei

    <h3>Rehabilitering i grupper?</h3>
    <input type="radio" name="group" > Ja
    <input type="radio" name="group" > Nei

    <h3>Vanlig varighet for opphold?</h3>
    <input type="number" name="duration">


    <h3>Tilbud om basseng?</h3>
    <input type="radio" name="swimmingPool" > Ja
    <input type="radio" name="swimmingPool" > Nei


    <h3>Tilrettelagt for rullestolbrukere?</h3>
    <input type="radio" name="wheelchair" > Ja
    <input type="radio" name="wheelchair" > Nei


    <h3>Beskrivelse av inntakskriterier på døgnplasser</h3>

    <h4>Selvhjulpen i daglige aktiviteter</h4>
    <input type="radio" name="selfHelpFull" > Ja
    <input type="radio" name="selfHelpFull" > Nei


    <h4>Aldersgrense?</h4>
    <input type="radio" name="ageRestrictionFull" > Ja
    <input type="radio" name="ageRestrictionFull" > Nei


    <h3>Beskrivelse av inntakskriterier på dagplasser</h3>

    <h4>Selvhjulpen i daglige aktiviteter</h4>
    <input type="radio" name="selfHelpHalf" > Ja
    <input type="radio" name="selfHelpHalf" > Nei


    <h4>Aldersgrense? (noen gir kun rehab under 35 år) </h4>
    <input type="radio" name="ageRestrictionHalf" > Ja
    <input type="radio" name="ageRestrictionHalf" > Nei


    <button type="submit" name="submit">Send inn</button>
  </form>
</div>
